
<section>
    <div class="card " style="margin-right: 25px; margin-left: 25px; margin-top: 70px; margin-bottom: 20px; box-shadow: 0px 7px 20px #aaa;     position: unset;" >

    <div class="card-body">
      <h3  style="    text-align: -webkit-center;"> Joindre un projet</h3>

        <form>
          
          <div class="form-group">
              <label for="idProjet">Id du projet</label>
              <input type="text" class="form-control" id="idProjet"  formControlName="idProjet" placeholder="Enter l'id du projet à rejoindre" name="idProjet">
          </div>

          <div class="form-group">
            <label for="passwordProjet">Id du projet</label>
            <input type="password" class="form-control" id="passwordProjet"  formControlName="passwordProjet" placeholder="Enter mot de passe du projet à rejoindre" name="passwordProjet">
        </div>
          
        </form>
      <button
      style="
        margin-top: 3%;
        margin-left: 30%;
        margin-right: 30%;
        width: 40%;
        box-shadow: rgb(0 0 0 / 57%) 0px 2px 8px 1px;
      "
      type="button"
      class="btn btn-primary btn-lg"
      (click)="onSubmit()">
      + Joindre projet
    </button>

    </div>
  </div>
</section>
