<div class="new-task-btn">
  <a routerLink="../add-task">
    <button type="button" class="btn btn-primary">Créer une tâche</button>
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Couleur</th>
      <th scope="col">Paramètres</th>
    </tr>
  </thead>
  <tbody *ngFor="let task of sortTask">
    <tr class="ligne">
      <td class="nameTask" (click)="onTaskClicked(project._id, task._id)">{{ task.title }}</td>
      <td class="descriptionTask" (click)="onTaskClicked(project._id, task._id)"> {{task.description}}</td>
      <td>
      <div ng-app>
        <td type="color" class="colorTask" (click)="onTaskClicked(project._id, task._id)"
          style="background-color:{{task.color}};"></td>
      </div>
      </td>
      <td>
        <div class="wrapper">
          <details data-popover="down">
            <summary>
              <h2 class="hover_three_dots">...</h2>
            </summary>
            <div>
              <div class="list-group popover__message">
                <a class="list-group-item list-group-item-action updateTask"
                  (click)="onUpdate(project._id, task._id)">Paramètres de la tâche</a>
                <a class="list-group-item list-group-item-action deleteTask"
                  (click)="onDelete(project._id, task._id)">Déplacer dans la corbeille</a>
              </div>
            </div>
          </details>
        </div>
      </td>
    </tr>
  </tbody>
</table>