
<div class="card">
  <div class="card-body">
    <section>
      <h3 class="titleProject">{{ project.title }}</h3>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/project/{{ project._id }}"
            >Détail</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks">Backlog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Sprint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/project/{{ project?._id }}/settings"
            >Setting</a
          >
        </li>
      </ul>
    </section>

    <section style="margin-top: 10px" >
      
      <div class="row">
        <div class="col-2">
          <a routerLink="/project/{{ project?._id }}/new-sprint">
            <button type="button" class="btn btn-primary">+</button>
          </a>
          <div class="bg-light border">
            <div class="scroller">
            <table class="table" >
              <thead>
                <tr>
                  <th scope="col">Nom</th>
                </tr>
              </thead>
              <tbody *ngFor="let sprint of sprints.slice().reverse()">
                <tr
                  class="ligne"
                  (click)="onSprintClicked(project._id, sprint._id)"
                >
                  <td class="name-sprint">{{ sprint.title }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </div>
        <div class="col-10">
          <div class="bg-light border">
            
              <h6>Select sprint or create sprint</h6>
            

             <!-- <div class="container">
              <div class="row">
                <div class="col colonne">
                  <h4 style="text-align: center;">A faire </h4>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
                <div class="card">
                  Tache 
                </div>
              </div>
                <div class="col colonne">
                  <h4 style="text-align: center;">En cours</h4>
                </div>
                <div class="col colonne">
                  <h4 style="text-align: center;">Review</h4>
                </div>
                <div class="col colonne">
                  <h4 style="text-align: center;">Terminé </h4>
                </div>


              </div>
            </div>  -->
          </div> 
        </div>
      </div>
    </section>
  </div>
</div>
