<section style="margin-top: 10px">

  <div class="row">
    <div class="col-2">
      <a routerLink="./add-sprint">
        <button type="button" class="btn btn-primary">Créer un sprint</button>
      </a>
      <div class="bg-light border">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom</th>
            </tr>
          </thead>
          <div class="scroller">
            <div *ngIf="sprints!=undefined">
              <tbody *ngFor="let sprint of sortSprint">
                <tr class="ligne" (click)="onSprintClicked(project._id, sprint._id)">
                  <td class="name-sprint">{{ sprint.title }}</td>
                </tr>
              </tbody>
            </div>
          </div>
        </table>
      </div>
    </div>
    <div class="col-10">
      <div class="bg-light border">

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>