<div class="card-body">
  <h3 class="title"> Paramètres de la tâche</h3>
  <form [formGroup]="updateTaskForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="Entrer nouveaux titre"
        name="title">
      <label for="color">Couleur</label>
      <div ng-app>
        <input type="color" class="form-control" id="color" formControlName="color"
          placeholder="Entrer nouvelle couleur" name="color" style="background-color:{{task.color}};">
      </div>
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" formControlName="description"
        placeholder="Entrer une nouvelle description" name="description">


      <label for="state">État</label>
      <select class="form-select" id="state" formControlName="state" name="state" aria-label="Default select example"
        style="width:100%;">
        <option for="state" selected>{{task.state}}</option>
        <option value="À FAIRE" *ngIf="task.state!=='À FAIRE'">À FAIRE</option>
        <option value="EN COURS" *ngIf="task.state!=='EN COURS'">EN COURS</option>
        <option value="TERMINÉ" *ngIf="task.state!=='TERMINÉ'">TERMINÉ</option>
        <option value="{{task.title}}">{{task.title}}</option>
      </select>

      <label for="estimated_duration">Durée estimé en heure</label>
      <input type="number" class="form-control" id="estimated_duration" formControlName="estimated_duration"
        placeholder="Entrer nouvelle durée estimé" name="estimated_duration">

      <label for="owner">Utilisateur réalisant la tâche</label>
      <select class="select" formControlName="owner">
        <option value="blank">Pas encore attribuée</option>
        <option *ngFor="let user of users; let i = index" value="{{user._id}}">{{user.username}}</option>
      </select>

    </div>
  </form>
  <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Enregistrer</button>
</div>