<div class="card-body">
    <h3 class="title"> Paramètres de la tâche</h3>
    <form [formGroup]="updateTaskForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Entrer nouveaux titre" name="title">
        <label for="color">Couleur</label>
        <div ng-app>
          <input type="color" class="form-control" id="color" formControlName="color" placeholder="Entrer nouvelle couleur" name="color" style="background-color:{{task.color}};">
        </div>
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" formControlName="description" placeholder="Entrer une nouvelle description" name="description">
        <label for="state">Etat</label>
        <input type="text" class="form-control" id="state" formControlName="state" placeholder="Entrer nouvelle état" name="state">
        <label for="estimated_duration">Durée estimé</label>
        <input type="text" class="form-control" id="estimated_duration" formControlName="estimated_duration" placeholder="Entrer nouvelle durée estimé" name="estimated_duration">
      </div>
    </form>
    <button type="button" class="btn btn-primary btn-lg" (click)="onSubmit()">Enregistrer</button>
  </div>