.card {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px #aaa;
    position: unset;
  }
  

.titleProject{
    text-align: -webkit-center;
}