<h1>{{project?.title}}</h1>
<p>{{project?.created_at}}</p>

<p>{{project?._id}}</p>

<section>
    <div class="col-3 bg-light p-3 border">
      <a routerLink="/newSprint/{{project?._id}}">
        <button
        style="
          margin-left: 20%;
          margin-right: 20%;
          margin-top: 10%;
          margin-bottom:8%;
          width: 15%;
          min-width: 100px;

          box-shadow: rgb(0 0 0 / 57%) 0px 2px 8px 1px;
        "
        type="button"
        class="btn btn-primary "
      ><p>+ Sprint</p></button>
    </a>
    <table class="table" style="width: 80%; margin-left: 10%;; margin-right: 10%;">
        <thead>
          <tr>
            <th scope="col">Nom</th>

          </tr>
        </thead>
        <tbody *ngFor="let sprint of sprints.slice().reverse();">
          <tr  class="ligne"  (click)="onSprintClicked(project._id,sprint._id)" >
            <td class="nameSprint">{{  sprint.title }}</td>

           
          </tr>
        </tbody>
      </table>
    </div>

</section>