<section>
  <div class="card ">

  <div class="card-body">
    <h3  class="titleProject">{{project?.title}}</h3>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Détail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../../tasks">Backlog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../../project/{{project?._id}}/sprints">Sprint</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../../project-settings/{{project?._id}}">Setting</a>
      </li>
    </ul>
    
    <section>
      <p> Date de création : {{project.created_at | date : "dd-mm-YYYY"}}</p>
    </section>

  </div>
</div>
</section>
