<div class="col-10">
  <div class="bg-light border">
    <div class="container">
      <div class="row">

        <div class="col-md-3" *ngFor="let column of columns">
          <div class="drag-container">
            <div class="section-heading">{{column.id}}</div>

            <div cdkDropList id="{{column.id}}" [cdkDropListData]="column.taskList"
              [cdkDropListConnectedTo]="connectedTo" class="item-list" (cdkDropListDropped)="drop($event)">
              <div class="item-box" *ngFor="let task of column.taskList" cdkDrag>{{column.id}} {{task}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>