<section>
  <div class="card">
    <div class="card-body">
      <h3 class="title">Nouveau projet</h3>

      <form [formGroup]="projectForm">
        <div class="form-group">
          <label for="title">Titre du projet</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            placeholder="Enter titre du projet"
            name="title"
          />
        </div>
      </form>
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="onSubmit()"
        [disabled]="projectForm.invalid"
      >
        + Nouveau projet
      </button>
      <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>
</section>
