<div class="wrapper fadeInDown">
  <div id="formContent">
    <h5 class="title">Vous êtes absoluement sûr ?</h5>
    <p class="text">
      Cette action ne peut pas être annulée.
      Cela supprimera définitivement {{sprint.title}} et supprimera toutes ces associations.
    </p>
    <p>S'il vous plait tapez <b>{{sprint.title}}</b> pour confirmer.</p>
    <form name="inputTitle">
      <input type="text" pattern="{{sprint.title}}" required [(ngModel)]="sprint.title" #myInput />
      <button class="btn btn-danger m-1"  [disabled]="!myInput.validity.valid" (click)="onDelete()">Supprimer</button>
    </form> 
  </div>
</div>