<section>
    <div class="card ">
      <h3>Détail de la tâche</h3>
    <div class="card-body">
      <h5 class="title">Titre : {{task.title}}</h5>
      <h5 class="color">Couleur : {{task.color}}</h5>
      <h5 class="description">Description : {{task.description}}</h5>
      <h5 class="state">Etat : {{task.state}}</h5>
      <h5 class="created_at">Date de création : {{task.created_at}}</h5>
      <h5 class="estimated_duration">Temps éstimé : {{task.estimated_duration}}</h5>
    </div>
  </div>
</section>