<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <a routerLink="/new-project">
          <button
          type="button"
          class="btn btn-primary btn-lg">+ Nouveau projet</button>
      </a>
      </div>
      <div class="col">
        <a routerLink="/join-project">
          <button
          type="button"
          class="btn btn-primary btn-lg">+ Joindre projet</button>
      </a>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 style="text-align: center">Vos Projets:</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Date création</th>
        <th scope="col">Paramètres</th>
      </tr>
    </thead>
    <tbody *ngFor="let project of projects">
      <tr  class="ligne">
        <td class="nameProject" (click)="onProjectClicked(project._id)">{{ project.title }}</td>
        <td class= "dateProject" (click)="onProjectClicked(project._id)">{{project.created_at | date: 'dd/MM/y'}}</td>
        <td>
          <div class="wrapper">
            <details data-popover="down">
              <summary>
                <h2 class="hover_three_dots">...</h2>
              </summary>
              <div>
                <div class="list-group popover__message">
                  <a  (click)="onUpdate(project._id)" class="list-group-item list-group-item-action updateProject" >Paramètres du projet</a>
                  <a  (click)="onDelete(project._id)" class="list-group-item list-group-item-action deleteProject" >Déplacer dans la corbeille</a> 
                </div>
              </div>
            </details>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
