
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- titre -->
      <h3>Inscription</h3>
      <!-- Icon -->
      <!-- <div class="fadeIn first">
        <img src="../../../assets/emblemok_103757.png" id="icon" alt="User Icon" />
      </div> -->
  
      <!-- Signup Form -->
      <form [formGroup] = "signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" id="firstname" formControlName="firstname" class="form-control fadeIn second" name="firstname" [ngClass]="{ 'is-invalid': submitted && f['firstname'].errors }"  placeholder="Firstname">
          <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
            <div *ngIf="f['firstname'].errors['required']">Firstname is required</div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" id="lastname" formControlName="lastname" class="form-control fadeIn first" name="lastname" [ngClass]="{ 'is-invalid': submitted && f['lastname'].errors }" placeholder="Lastname">
          <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
            <div *ngIf="f['lastname'].errors['required']">Lastname is required</div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="username"
            class="form-control fadeIn third"
            [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
            placeholder="Username"
          />
          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
            <div *ngIf="f['username'].errors['required']">Username is required</div>
            <div *ngIf="f['username'].errors['minlength']">
              Username must be at least 6 characters
            </div>
            <div *ngIf="f['username'].errors['maxlength']">
              Username must not exceed 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="email"
            class="form-control fadeIn fourth"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
            placeholder="Email"
          />
          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['required']">Email is required</div>
            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
          </div>
        </div>

        <div class="form-group">
          <input
            type="password"
            formControlName="password"
            class="form-control fadeIn fourth"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            placeholder="Password"
          />
          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
            <div *ngIf="f['password'].errors['required']">Password is required</div>
            <div *ngIf="f['password'].errors['minlength']">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f['password'].errors['maxlength']">
              Password must not exceed 40 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control fadeIn fourth"
            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
            placeholder="Confirm password"
          />
          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="f['confirmPassword'].errors['required']">
              Confirm Password is required
            </div>
            <div *ngIf="f['confirmPassword'].errors['matching']">
              Confirm Password does not match
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
          <button 
            type="button"
            (click)="onReset()"
            class="btn btn-warning">
            Reset
          </button>
        </div>
        <!-- <button class="button" (click)="onSubmit()">Inscription</button> -->
      </form>
  
    </div>
  </div>