.card {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 0px 7px 20px #aaa;
  position: unset;
}

.title {
  text-align: -webkit-center;
}

.btn {
  margin-top: 3%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  box-shadow: rgb(0 0 0 / 57%) 0px 2px 8px 1px;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input/* ,
label */ {
  margin: .4rem 0;
}

.scroller {
  height: 330px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.taskchoice {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}

.ligne {
  cursor: pointer;
}
