<section>
  <div class="card">
    <div class="card-body">
      <h3 class="title">Nouveau sprint</h3>

      <form [formGroup]="sprintForm">
        <div class="form-group">
          <label for="title">Titre du sprint</label>
          <input
            type="text"
            class="form-control"
            id="title"
            formControlName="title"
            placeholder="Enter titre du sprint"
            name="title"
          />
        </div>
      </form>
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="onSubmit()"
        [disabled]="sprintForm.invalid"
      >
        + Nouveau sprint
      </button>
      <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>
</section>
