<div class="wrapper fadeInDown">
    <div id="formContent">
      <h5 class="title">Vous êtes absoluement sûr ?</h5>
      <p class="text">
        Cette action ne peut pas être annulée.
        Cela supprimera définitivement {{task.title}} et supprimera toutes ces associations.
      </p>
      <p>S'il vous plait tapez <b>{{task.title}}</b> pour confirmer.</p>
    <form name="inputTitle">
      <input type="text" pattern="{{task.title}}" required [(ngModel)]="task.title" #myInput />
      <button class="btn btn-danger m-1"  [disabled]="!myInput.validity.valid" (click)="onDelete()">Supprimer</button>
    </form>
  </div>
</div>
  