<div class="wrapper fadeInDown">
    <div id="formContent">
      <h5 class="title">Vous êtes absoluement sûr ?</h5>
      <p class="text">
        This action cannot be undone. This will permanently delete
        {{task.title}}
        and remove all collaborator associations.
      </p>
      <p>Please type <b>{{task.title}}</b> to confirm.</p>
  <div class="inputTitle">
      <input type="text" class="form-control"  placeholder="" >
    </div>
      <button class="btn btn-danger m-1" (click)="onDelete() ">Supprimer</button>
    </div>
  </div>
  